/* General */

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 122px;
}


/* General */

/* Modals */

.modal-content {
  border-radius: 33px;
  padding: 20px;
}

label a {
  color: black;
  font-weight: bold;
}

label a:hover {
  color: black;
  font-weight: bold;
}

.form-control {
  border-radius: 12px;
  background-color: #e5e3e3;
}

#connect-modal .btn-password {
  color: black;
  text-decoration: underline black;
  font-size: 14px;
}

.text-small {
  font-size: small;
}

/* Modals */

/* OrderRecap */

.quantity-btn {
  border: 1px solid #a7c83a;
  border-radius: 50%;
  background-color: #a7c83a;
  color: #fff;
  display: inline;
}

.user-info-btn {
  width: 40%;
}

@media screen and (max-width: 720px) {
  .user-info-btn {
    width: 80%;
  }
}

.card-order {
  border: 1px solid #a7c83a ;
  width: 100%;
  border-radius: 0;
  border-top: none;
  margin-top: 0 !important;
}

.border-styled {
  position: relative;
}

.border-styled:before {
  content : "";
  position: absolute;
  left    : 25%;
  bottom  : 0;
  height  : 1px;
  width   : 50%;
  border-bottom:1px solid black !important;
}

.modif-icons {
  cursor: pointer;
  color: grey;
}

.modif-input {
  width: 50%;
}

@media screen and (max-width: 720px) {
  .modif-input {
    width: 100%;
  }
}

.recap-elements {
  color: #a7c83a;
  font-size: 14px;
}

.recap-elements span {
  color: #7f7f7f;
  font-size: 14px;
  font-weight: 300;
}

.price-element {
  margin-bottom: -0.75rem;
  border: 1px solid #0B6C13;
  padding: 3px 16px;
  font-size: 16px;
  background-color: #0B6C13;
  color: white;
  font-family: 'El Messiri';
}

.img-recap-order {
  height: 100px;
  width: 100px;
  margin: auto;
}

.icon-recap path {
  cursor: pointer;
  color: #B2AFAF;
}

.icon-recap path:hover {
  cursor: pointer;
  color: black;
}

.command-btn-order {
  margin-bottom: -0.79rem;
}

.command-btn-order a {
  background-color: #0B6C13;
  color: white;
  border: 1px solid #0B6C13;
  font-family: 'El Missiri';
}

.command-btn-order a:hover {
  background-color: #0B6C13;
  color: white;
  border: 1px solid #0B6C13;
  font-family: 'El Missiri';
}

.command-btn-order div {
  border: 1px solid #a7c83a;
  background-color: white;
  color: #a7c83a;
  font-family: 'El Missiri';
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 5px;
  font-weight: 800;
}

.panier-order {
  text-align: center;
  color: black;
  font-weight: 200;
  font-family: 'El Missiri';
}

#modal-recap-order .modal-content {
  min-width: 700px;
  max-width: 900px;
}

@media (min-width: 576px) {
.modal-dialog {
    max-width: 900px;
    margin: 1.75rem auto;
}
}

#modal-recap-order .card-img-top {
  height: 150px;
  width: 150px;
}

#modal-recap-order h3 {
  font-weight: 300;
  font-family: 'El Messiri';
  font-size: 20px;
  color: black;
}



/* OrderRecap */


/* Small Cart */

.list-small-cart {
  font-size: small !important;
  text-align: center;
  border: none;
  color: black !important;
  padding-top: 0;
  padding-bottom: 0;
}

/* Small Cart */

/* Admin */

.list-group-admin {
  font-size: medium !important;
  color: black !important;
  padding: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 5em;
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: center;
  font-weight: 100 !important;
}

.list-group-admin strong {
  font-weight: 600;
}
/* Admin */

/* Navbar */

.navbar-contact {
  color: #0B6C13;
  font-size: 20px;
  font-family: 'El Messiri', sans-serif;
  margin-left: 16px;
  text-decoration: none;
  cursor: pointer;
}

.navbar-contact:hover {
  color: #a7c83a;
}

.brand-logo {
  display: flex;
  flex-direction: row;
}

.goa-logo {
  max-width: 80px;
  max-height: 80px;
}

.goa-title {
  max-height: 80px;
  max-width: 120px;
}

/* Navbar */

/* Menu List */

.menu-list-aligned {
  width: 20%;
  text-align: center;
  padding: 0;
}

.menu-links {
  color: #a7c83a;
  text-decoration: none;
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-links:hover {
  color: #a7c83a;
  text-decoration: none;
}

/* Menu List */

/* Footer */

#footer a {
  color: black;
  text-decoration: none;
}

#footer a:hover {
  color: black;
  text-decoration: none;
}

.info-footer-icons path {
  color: #a7c83a;
}

.goa-footer-title {
  color: black;
  font-family: 'El Missiri';
  font-weight: 300;
  font-size: 24px;
}

.footer-border-icons {
  border: 1px solid black;
  border-radius: 50%;
  padding: 1.5rem;
}

.brand-fb {
  border-color: #4267B2;
}
.brand-fb svg path {
  color: #4267B2;
}

.brand-ig {
  border-color: #E1306C;
}
.brand-ig svg path {
  color: #E1306C;
}

.footer-list-copyright {
  font-weight: 300 !important;
  font-size: 16px !important;
}

.mandala-footer {
  width: 400px;
  position: relative;
  left: -220px;
  margin-top: -3rem;
  margin-bottom: -3rem;
  height: 500px;
}

.footer-wrapper-icon {
  width: 30px !important;
}
 
/* Footer */

/* Sign In */

.is-not-valid {
  border-color: #dc3545 !important;
  padding-right: calc(1.5em + 0.75rem) !important;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e") !important;
  background-repeat: no-repeat !important;
  background-position: right calc(0.375em + 0.1875rem) center !important;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem) !important;
}

#user-modal {
  width: 50%;
}

/* Sign In */

/* Home */

.text-black {
  color: #000 !important;
}

/* Home */