/* Footer style */

.footer-h2 {
    color: #0b6c13;
}

.card-title-footer {
    color: #a7c83a;
}

.card-text-footer {
    color: #707070;
}

#footer a {
    color: #707070;
}

#footer a:hover {
    color: #707070;
    text-decoration: none;
}

/* Footer style */


/* Modals */

.modal-content {
    border-radius: 33px;
    padding: 20px;
}

label a {
    color: black;
    font-weight: bold;
}

label a:hover {
    color: black;
    font-weight: bold;
}

.form-control {
    border-radius: 12px;
    background-color: #E5E3E3;
}

/* Modals */

